extends layout

block content
    div.row
        div.col-md-4.col-md-offset-4
            form(method='post', action='/upload')
            h1(style = "text-align: center;") Upload Your Work 
            .uploadForm
                input(type='file', name='newUpload', id="newUpload", autofocus)
                br
                br
                input.btn.btn-success(type='submit', value='Upload')